
<div class="head clear">
	<div class="box">
	<div class="logo"><img src="<%~ static_url("images/logo.png") %>" /></div>
	<div class="nav">
		<ul>
			<li><a href="/" class="hover">首页</a></li>
			<li><a href="/about">公司介绍</a></li>
            <li><a href="/base">基地展示</a></li>
			<li><a href="/production">产品中心</a></li>
			<li><a href="/contact">联系我们</a></li>
		</ul>
	</div>
    </div>
</div>

<%= erb :_banner, locals: {banners: @banners} %>

<div class="main clear">
	<div class="home">

    <%= erb :_category_panel, locals: {categories: @categories} %>

    <div class="right">
    	<div class="exchange"><a href="javascript:;">卡券兑换</a></div>

        <% if @bases.present? %>
        <div class="area_box">
          <h1>基地展示</h1>
            <ul>
              <% @bases.each do |base| %>
              <li><a href="<%~ "/base/#{base.name}" %>"><img src="<%~ base.cover_path.thumb.url %>"></a></li>
              <% end %>
            </ul>
        </div>
        <% end %>

        <% if @videos.present? %>
        <div class="video_box">
          <h1>视频介绍</h1>
        	<ul>
            <% @videos.each_with_index do |video,index| %>
          	<li><a class="<%= "mediaplayer#{index}" %>" href="javascript:;"><i></i></a></li>
            <% end %>
          </ul>
        </div>
        <% end %>
    </div>
    </div>
</div>

<div class="foot">
	<div class="box">
    	<div class="f_logo"></div>
        <div class="f_addr">
        	<p>联系人：胡良明</p>
			<p>电话：0512-69575557</p>
			<p>邮箱：vigor_hu5@126.com</p>
			<p>地址：江苏省苏州市相城区太平街道金澄路88号</p>
        </div>
        <div class="f_copyright">Copyright ©苏州第五季食品科技有限公司所有 2015-2016. All Rights Reserved.</div>
    </div>
</div>

<div class="mask"></div>

<% @videos.each_with_index do |video,index| %>
<div class="tab <%= "mediaplayer#{index}" %>" style="z-index:1001;">
    <div id="<%= "mediaplayer#{index}" %>"></div>
</div>
<% end %>

<% content_for(:bodyScript) do %>
<script type="text/javascript" src="<%~ static_url("js/jwplayer.js") %>"></script>
<script type="text/javascript">

$(function(){

    function popup(t,b){

        $(b).bind('click',function(){

            var doc_height = $(document).height();
            var doc_width = $(document).width();
            var win_height = $(window).height();
            var win_width = $(window).width();
            
            var layer_height = $(t).height();
            var layer_width = $(t).width();

            $(".mask").css({display:'block',height:doc_height});
                $(t).css('top',(win_height-layer_height)/2);
                $(t).css('left',(win_width-layer_width)/2);
                $(t).css('display','block');
                return false;
            }
        )
        $(document).bind('click', function(e) {
            var $clicked = $(e.target);
            if (! $clicked.hasClass("tab")){
                $(t).css('display','none');
                $(".mask").css('display','none');
            }
        });
    }
    <% @videos.each_with_index do |video,index| %>
    jwplayer('<%= "mediaplayer#{index}" %>').setup({
        flashplayer: "<%~ static_url("swf/player.swf") %>",
        image: "<%~ static_url("images/video_bg.jpg") %>",
        file: "<%~ "#{video.video_path.url}" %>",
        controlbar: 'bottom',
        height : 460,
        width : 760, 
    });

    popup('<%= ".tab.mediaplayer#{index}" %>' , '<%= ".video_box a.mediaplayer#{index}" %>');
    <% end %>
})
</script>
<% end %>